<!-- catalogo.html -->

{% extends "base.html" %}

{% block content %}
    <h1>Catálogo de Equipos</h1>
    <ul>
        <li>
            <strong>Laptop</strong>: Potente laptop para desarrollo
        </li>
        <li>
            <strong>Impresora</strong>: Impresora de alta calidad para uso en la oficina
        </li>
        <li>
            <strong>Monitor</strong>: Monitor grande para una mejor productividad
        </li>
        <!-- Agrega más elementos de equipos aquí -->
    </ul>
{% endblock %}
