{% extends 'base.html' %}

{% block title %}
  Monitor - PESCO RENTAL
{% endblock %}

{% block content %}
  <div class="container my-4">
    <h2>Lista de Equipos</h2>
    
    <!-- Estilo para el botón de registrar nuevo equipo -->
    <a href="{% url 'registrar_camion' %}" class="btn custom-btn">Registrar Nuevo Equipo</a>
    
    <br><br>

    <!-- Estilo para la tabla -->
    <table class="table">
      <thead>
        <tr>
          <th>PPU</th>
          <th>Modelo</th>
          <th>Año</th>
          <th>Kilometraje</th>
          <th>Estado</th>
          <th>VIN</th>
          <th>Flota</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for camion in camiones %}
          <tr class="{% if camion.estado == 'Disponible' %}table-success{% elif camion.estado == 'Arrendado' %}table-warning{% elif camion.estado == 'En Mantenimiento' %}table-info{% elif camion.estado == 'Siniestrado' %}table-danger{% elif camion.estado == 'En Revisión' %}table-secondary{% endif %}">
            <td>{{ camion.ppu }}</td>
            <td>{{ camion.modelo }}</td>
            <td>{{ camion.año }}</td>
            <td>{{ camion.kilometraje }}</td>
            <td>{{ camion.estado }}</td>
            <td>{{ camion.vin }}</td>
            <td>{{ camion.flota }}</td>
            <td>
              <!-- Botón de Opciones -->
              <div class="dropdown">
                  <button class="btn custom-btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Opciones
                  </button>
                
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <!-- Enlace a Programar Mantenimiento -->
                    <a class="dropdown-item" href="{% url 'programar_mantenimiento' camion.id %}">Generar Mantenimiento</a>
                    <!-- Enlace a Detalles -->
                    <a class="dropdown-item" href="{% url 'detalles_camion' camion.id %}">Detalles Equipo</a>
                    <!-- Enlace a Editar -->
                    <a class="dropdown-item" href="{% url 'editar_camion' camion.id %}">Editar Datos de Equipo</a>
                  </div>
              </div>
          </td>
          
          
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
